# ---------------------------------------------------------------
# JWT
# ---------------------------------------------------------------
JWT_SECRET=P6p58A1D2h4FV/SlrBl9oHGUsN9MJolqsEzXl7/T71o61J2FNe9R6b7DxeC59tRI/lOUTTIGL5LEIgsOTJvSiw====

# ---------------------------------------------------------------
# Database
# ---------------------------------------------------------------
DB_URL=jdbc:h2:mem:testdb
DB_USERNAME=sa
DB_PASSWORD=



